<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backend-Server</title>
  <style>
    body {
      background-color: #222;
      font-family: Helvetica, sans-serif;
      color: #fff;
    }
    h1 {
      font-size: 50px;
      color: blueviolet;
      padding: 20px;
    }
    div {
      font-size: 30px;
      padding: 10px 40px;
    }
    p {
      font-size: 30px;
      padding: 0px 40px;
      color: rgb(168, 16, 16);
    }
  </style>
</head>
<body>
  <h1>This is the Backend Server</h1>
  <div>Port: 4000</div>
  <p>404 Not Found!</p>
</body>
</html>